# Libraries

In [1]:
import pandas as pd
import matplotlib as plt

# Data Exploration

In [19]:
# Tesla dataset
df_tesla = pd.read_csv(r'C:\Users\55599\Desktop\Python - Jupyter Notebook\#_5_Google Trends Data Viz (start)\TESLA Search Trend vs Price.csv')
#print(df_tesla.shape)
#print(df_tesla.head(20))
print(df_tesla.columns)
print(df_tesla['MONTH'].describe(datetime_is_numeric=False))
print(df_tesla.describe(datetime_is_numeric=True))

Index(['MONTH', 'TSLA_WEB_SEARCH', 'TSLA_USD_CLOSE'], dtype='object')
count            124
unique           124
top       2010-06-01
freq               1
Name: MONTH, dtype: object
       TSLA_WEB_SEARCH  TSLA_USD_CLOSE
count       124.000000      124.000000
mean          8.725806       50.962145
std           5.870332       65.908389
min           2.000000        3.896000
25%           3.750000        7.352500
50%           8.000000       44.653000
75%          12.000000       58.991999
max          31.000000      498.320007

In [8]:
# Unemployment dataset
df_unemployment1 = pd.read_csv(r'C:\Users\55599\Desktop\Python - Jupyter Notebook\#_5_Google Trends Data Viz (start)\UE Benefits Search vs UE Rate 2004-19.csv')
df_unemployment2 = pd.read_csv(r'C:\Users\55599\Desktop\Python - Jupyter Notebook\#_5_Google Trends Data Viz (start)\UE Benefits Search vs UE Rate 2004-20.csv')
print(df_unemployment1.shape, "df_unemployemnt1 shape")
print(df_unemployment1.columns, "df_unemployemnt1 columns")
print(df_unemployment2.shape, "df_unemployemnt2 shape")
print(df_unemployment2.columns, "df_unemployemnt2 columns")

(181, 3) df_unemployemnt1 shape
Index(['MONTH', 'UE_BENEFITS_WEB_SEARCH', 'UNRATE'], dtype='object') df_unemployemnt1 columns
(200, 3) df_unemployemnt2 shape
Index(['MONTH', 'UE_BENEFITS_WEB_SEARCH', 'UNRATE'], dtype='object') df_unemployemnt2 columns

In [23]:
# Bitcoin dataset
df_bitcoin = pd.read_csv(r'C:\Users\55599\Desktop\Python - Jupyter Notebook\#_5_Google Trends Data Viz (start)\Daily Bitcoin Price.csv')
df_bitcoin.shape
df_bitcoin.head

<bound method NDFrame.head of             DATE         CLOSE        VOLUME
0     2014-09-17    457.334015  2.105680e+07
1     2014-09-18    424.440002  3.448320e+07
2     2014-09-19    394.795990  3.791970e+07
3     2014-09-20    408.903992  3.686360e+07
4     2014-09-21    398.821014  2.658010e+07
...          ...           ...           ...
2199  2020-09-24  10745.548828  2.301754e+10
2200  2020-09-25  10702.290039  2.123255e+10
2201  2020-09-26  10754.437500  1.810501e+10
2202  2020-09-27  10774.426758  1.801688e+10
2203  2020-09-28  10912.536133  2.122653e+10

[2204 rows x 3 columns]>

# Data Cleaning

In [38]:
# Checking if there are null values in datasets
print("bitcoin",df_bitcoin.isna().values.any())
print("tesla",df_tesla.isna().values.any())
print("unempl1",df_unemployment1.isna().values.any())
print("unempl2",df_unemployment2.isna().values.any())

# looking for missing values
df_bitcoin.isna().values.sum()
df_bitcoin.CLOSE.isna()

# removing missing values (dropping those rows)
df_bitcoin.dropna()

bitcoin True
tesla False
unempl1 False
unempl2 False

            DATE         CLOSE        VOLUME
0     2014-09-17    457.334015  2.105680e+07
1     2014-09-18    424.440002  3.448320e+07
2     2014-09-19    394.795990  3.791970e+07
3     2014-09-20    408.903992  3.686360e+07
4     2014-09-21    398.821014  2.658010e+07
...          ...           ...           ...
2199  2020-09-24  10745.548828  2.301754e+10
2200  2020-09-25  10702.290039  2.123255e+10
2201  2020-09-26  10754.437500  1.810501e+10
2202  2020-09-27  10774.426758  1.801688e+10
2203  2020-09-28  10912.536133  2.122653e+10

[2203 rows x 3 columns]